# ============ GLOBAL =============
.DS_Store
Thumbs.db
*.log
node_modules/

# ============ FRONT ==============
/front/node_modules/
/front/.env*
/front/dist/
/front/.vite/
/front/build/

# ============ BACK (Symfony) ==============
/back/vendor/
/back/var/cache
/back/.env.local
/back/.env.*.local
