# ============ GLOBAL =============
.DS_Store
Thumbs.db
*.log
node_modules/

# ============ FRONT ==============
/front/node_modules/
/front/.env*
/front/dist/
/front/.vite/


# ============ BACK (Symfony) ==============
/back
/front/build/back/vendor/
/front/build/back/var/cache/
